html {
    background-color: burlywood;
}

title {
    background-color:bisque;
    font-size: medium;
    color: maroon;
    padding-left: 24px;
    padding-right:24px;
}

h1 {
    background-color: bisque;
    font-size: 18px;
    color: maroon;
}

p {
    color: maroon;
    background-color: bisque;
    font-size: 16px;
}